[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Start Ubuntu VM
Comment=Starts the Ubuntu virtual machine on VirtualBox
Type=Application
Exec=nvd /usr/lib/virtualbox/VirtualBoxVM --comment Ubuntu --startvm b8bf0d90-ee37-49f3-ac73-c5d35826b085
Icon=/home/ichramm/devel/linux-scripts/dotfiles/desktop/os_ubuntu_x4.png
#Icon=virtualbox-vbox.png
